################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ByteBank.Portal/bin/Debug
/ByteBank.Portal/obj
